<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta:wght@200;400&family=Outfit:wght@100;400&family=Roboto:wght@100&family=Supermercado+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Spending tracker</title>
</head>
<body>
    <head>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transactions">Show transactions</a></li>
                <li><a href="/merchants">Show merchants</a></li>
                <li><a href="/tags">Show tags</a></li>
            </ul>
        </nav>

    </head>
    <main>
        <aside>

            <h2>Add</h2>
            <div class="add-buttons">
                <button>transaction</button>
                <button>tag</button>
                <button>merchant</button>
            </div>

            <h2>Edit</h2>
            <div class = "edit-buttons">
                <button>tag</button>
                <button>merchant</button>
            </div>

        </aside>
        <section id="right-side">
            {% block content %}
            {% endblock %}
        </section>
    </main>
    <footer><p>	&copy; Leszek Modrzejewski 2022</p></footer>
</body>
</html>