<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending tracker</title>
</head>
<body>
    <head>
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="/transactions"></a>Show transactions</li>
            <li><a href="/merchants"></a>Show merchants</li>
            <li><a href="/tags"></a>Show tags</li>
        </ul>
        <a href="/transaction">Home</a>
        <!-- <h2>Beware of little expenses, a small leak will sink a great ship</h2> -->
        <!-- <h3>Benjamin Franklin</h3> -->
    </head>
    <main>
        <aside>
            <h2>Add</h2>
            <button>transaction</button>
            <button>tag</button>
            <button>merchant</button>
            <h2>Edit</h2>
            <button>tag</button>
            <button>merchant</button>
        </aside>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </main>
</body>
</html>