{% extends 'base.html' %}
{% block content %}

<section id="transactions">
    <div class="transactions-list">
        <h1>Transactions List</h1>
        <div class="transaction-items">
            <table>
                <thead>
                    <tr>
                        <th>amount</th>
                        <th>merchant</th>
                        <th>tag</th>
                    </tr>
                </thead>
                <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.merchant.name}}</td>
                            <td>{{transaction.tag.name}}</td>
                        </tr>
                        {% endfor %} 
                </tbody>
            </table>
        </div>


    </div>

</section>
    
{% endblock %}