{% extends 'base.html' %}
{% block content %}

<section id="transactions">
    <div class="transactions-list">
        <h1>Transactions List</h1>
        <div class="transaction-items">
            {% for transaction in transactions %}

            <div class="transaction-item">
                <p>{{transaction.amount}}</p>
                <p>{{transaction.merchant.name}}</p>
                <p>{{transaction.tag.name}}</p>
            </div>

        {% endfor %} 
        </div>


    </div>

</section>
    
{% endblock %}